:root {
    --padding: 10px;
    --border: 2px;
}

.input {
    position: relative;
    display: flex;
    margin: 100px; /* temporary */
    background: transparent;
}

.input input{
    padding-left: var(--padding);
    background: inherit;
    border: var(--border ) solid black;
}

.input input:focus {
    outline: none;
}

.floatingLabel {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - var(--padding));
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: var(--padding);
    z-index: -1;
}

.labelMoved{
    top: -19%;
    left: 2.5px;
    z-index: 100;
    width: fit-content;
    height: fit-content;
    font-size: small;
    padding: 0 calc(var(--padding)/2);
}